@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'Noto Emoji';
    src: url('./assets/fonts/noto-emoji.ttf') format('truetype');
    // only emojis
    unicode-range: '1F300-1F5FF', '1F600-1F64F', '1F680-1F6FF', '1F900-1F9FF', '2190-21FF';
}

@font-face {
    font-family: 'Anta';
    src: url('./assets/fonts/anta-regular.ttf') format('truetype');
}

* {
    box-shadow: none !important;
}

#design-editor {
    .view-wrapper {
        @apply bg-dark;
        .arrow {
            @apply fill-light;
        }
    }

    .node {
        .shape {
            @apply fill-light;

            > use.node {
                @apply fill-light stroke-none;

                &.selected {
                    @apply fill-primary;
                }
                // no hovered stroke-primary because it's unreliable
                // when the mouse leaves over an edge then the hover state is not removed
                // &.hovered {
                //     @apply stroke-primary stroke-2;
                // }
            }
        }

        .node-text {
            @apply fill-dark stroke-none;

            &.selected {
                @apply fill-light;
            }
        }
    }

    .edge {
        @apply fill-light stroke-light stroke-2;

        .edge-text {
            @apply fill-light;
        }

        &.selected {
            @apply stroke-primary;
        }
    }
}
