/*
.carousel-home .carousel-control-next,
.carousel-home .carousel-control-prev {
  background-color: rgb(255 242 0);
  color: rgb(0 0 0);
}

.carousel-home .carousel-indicators {
  background-color: rgb(255 242 0);
}
*/
