[submodule "semio/examples/metabolism"]
	path = semio/examples/metabolism
	url = https://github.com/usalu/metabolism.git
[submodule "reuse/recherche"]
	path = mit-bestand/recherche
	url = https://github.com/usalu/recherche
[submodule "elements/client/lib/geometry/topologic"]
	path = elements/renderer/react/windows/geometry/topologic
	url = https://github.com/usalu/Topologic
	ignore = all
