[submodule "semio/examples/metabolism"]
	path = semio/examples/metabolism
	url = https://github.com/usalu/metabolism.git
[submodule "reuse/recherche"]
	path = mit-bestand/recherche
	url = https://github.com/usalu/recherche.git