go 1.25.5

use (
	./coda/client/lib/blnbo/go
	./coda/client/lib/programming/go
	./repo/client/cli
	./repo/client/mcp
	./repo/client/mcp/claude
	./repo/client/mcp/codex
	./repo/client/mcp/copilot
	./repo/client/mcp/cursor
	./repo/client/mcp/kiro
	./repo/lib/go
	./repo/server/coordinator
	./semio/client/lib/go
)
