go 1.25.5

use (
	./client/cli/go
	./client/mcp/go
	./client/mcp/claude/go
	./client/mcp/codex/go
	./client/mcp/copilot/go
	./client/mcp/cursor/go
	./client/mcp/kiro/go
	./lib/go
	./server/coordinator/go
)
