.vscode/**
.vscode-test/**
.vscode-test.mjs
out/test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
tsconfig.json
eslint.config.mjs
*.map
*.ts
node_modules/**
package-lock.json
.nx/**
codegen/
generated/
../**
activation.log
*.md
!LICENSE.md
*.vsix
*.json
!package.json
