@import "tailwindcss";
@import "@semio/js/theme.css";

/* https://tailwindcss.com/docs/theme */
/* https://ui.shadcn.com/docs/theming */

.body {
}

/* Set base all components */
@layer base {
  :root {
    --radius: 0rem;
    --radius-xs: 0rem;
    --radius-sm: 0rem;
    --radius-md: 0rem;
    --radius-lg: 0rem;
    --radius-xl: 0rem;
    --radius-2xl: 0rem;
    --radius-3xl: 0rem;
    --radius-4xl: 0rem;
    --radius-full: 0rem;
    --shadow-2xs: 0 0 rgb(0 0 0 / 0);
    --shadow-xs: 0 0 rgb(0 0 0 / 0);
    --shadow-sm: 0 0 rgb(0 0 0 / 0);
    --shadow-md: 0 0 rgb(0 0 0 / 0);
    --shadow-lg: 0 0 rgb(0 0 0 / 0);
    --shadow-xl: 0 0 rgb(0 0 0 / 0);
    --shadow-2xl: 0 0 rgb(0 0 0 / 0);
    --inset-shadow-2xs: inset 0 0 rgb(0 0 0 / 0);
    --inset-shadow-xs: inset 0 0 rgb(0 0 0 / 0);
    --inset-shadow-sm: inset 0 0 rgb(0 0 0 / 0);
    --drop-shadow-xs: 0 0 rgb(0 0 0 / 0);
    --drop-shadow-sm: 0 0 rgb(0 0 0 / 0);
    --drop-shadow-md: 0 0 rgb(0 0 0 / 0);
    --drop-shadow-lg: 0 0 rgb(0 0 0 / 0);
    --drop-shadow-xl: 0 0 rgb(0 0 0 / 0);
    --drop-shadow-2xl: 0 0 rgb(0 0 0 / 0);
    --spacing: var(--spacing-compact);
    --text-xs: 0.7rem;
    --text-xs--line-height: calc(1 / 0.7);
    --text-sm: 0.8rem;
    --text-sm--line-height: calc(1.2 / 0.8);
    --text-base: 0.9rem;
    --text-base--line-height: calc(1.4 / 0.9);
    --text-lg: 1rem;
    --text-lg--line-height: calc(1.6 / 1);
    --text-xl: 1.125rem;
    --text-xl--line-height: calc(1.6 / 1.125);
    --text-2xl: 1.35rem;
    --text-2xl--line-height: calc(1.9 / 1.35);
    --text-3xl: 1.7rem;
    --text-3xl--line-height: calc(2.1 / 1.7);
    --text-4xl: 2rem;
    --text-4xl--line-height: calc(2.3 / 2);
    --text-5xl: 2.7rem;
    --text-5xl--line-height: 1;
    --text-6xl: 3.4rem;
    --text-6xl--line-height: 1;
    --text-7xl: 4rem;
    --text-7xl--line-height: 1;
    --text-8xl: 5.4rem;
    --text-8xl--line-height: 1;
    --text-9xl: 7.2rem;
    --text-9xl--line-height: 1;
    --base: var(--color-light);
    --panel: var(--color-light-7-9);
    --overlay: var(--color-light-6-7);
    --temporary: var(--color-light-5-7);
    --foreground: var(--color-dark);
    --muted: var(--color-light-8-9);
    --muted-foreground: var(--color-gray);
    --accent: var(--color-primary);
    --accent-foreground: var(--color-dark);
    --hover-base: var(--color-gray-700);
    --hover-panel: var(--color-gray-600);
    --hover-overlay: var(--color-gray-500);
    --hover-temporary: var(--color-light-gray-gray);
    --active-base: var(--color-primary);
    --active-foreground: var(--color-dark);
    --border-color: var(--color-foreground);

    * {
      cursor:
        url("../../assets/cursors/cursor.svg") 0 0,
        default !important;
    }

    ::selection {
      background-color: var(--accent);
    }

    ::-moz-selection {
      background-color: var(--accent);
    }

    .cursor-pointer {
      cursor:
        url("../../assets/cursors/cursor_pointer.svg") 0 0,
        pointer !important;
    }
    [style*="cursor: pointer"],
    [style*="cursor:pointer"] {
      cursor:
        url("../../assets/cursors/cursor_pointer.svg") 0 0,
        pointer !important;
    }
    .cursor-pointer,
    [class*="cursor-pointer"] {
      cursor:
        url("../../assets/cursors/cursor_pointer.svg") 0 0,
        pointer !important;
    }
    [class*="before:cursor-pointer"]::before,
    [class*="after:cursor-pointer"]::after {
      cursor:
        url("../../assets/cursors/cursor_pointer.svg") 0 0,
        pointer !important;
    }

    .cursor-grab {
      cursor:
        url("../../assets/cursors/cursor_grab.svg") 0 0,
        grab !important;
    }
    .cursor-grab {
      cursor:
        url("../../assets/cursors/cursor_grab.svg") 0 0,
        grab !important;
    }
    [style*="cursor: grab"],
    [style*="cursor:grab"] {
      cursor:
        url("../../assets/cursors/cursor_grab.svg") 0 0,
        grab !important;
    }
    .cursor-grab,
    [class*="cursor-grab"] {
      cursor:
        url("../../assets/cursors/cursor_grab.svg") 0 0,
        grab !important;
    }
    [class*="before:cursor-grab"]::before,
    [class*="after:cursor-grab"]::after {
      cursor:
        url("../../assets/cursors/cursor_grab.svg") 0 0,
        grab !important;
    }

    .cursor-grabbing {
      cursor:
        url("../../assets/cursors/cursor_grabbing.svg") 0 0,
        grabbing !important;
    }
    [style*="cursor: grabbing"],
    [style*="cursor:grabbing"] {
      cursor:
        url("../../assets/cursors/cursor_grabbing.svg") 0 0,
        grabbing !important;
    }
    .cursor-grabbing,
    [class*="cursor-grabbing"] {
      cursor:
        url("../../assets/cursors/cursor_grabbing.svg") 0 0,
        grabbing !important;
    }
    [class*="before:cursor-grabbing"]::before,
    [class*="after:cursor-grabbing"]::after {
      cursor:
        url("../../assets/cursors/cursor_grabbing.svg") 0 0,
        grabbing !important;
    }

    .cursor-ew-resize {
      cursor:
        url("../../assets/cursors/cursor_ew-resize.svg") 0 0,
        ew-resize !important;
    }
    [style*="cursor: ew-resize"],
    [style*="cursor:ew-resize"] {
      cursor:
        url("../../assets/cursors/cursor_ew-resize.svg") 16 2,
        ew-resize !important;
    }
    .cursor-ew-resize,
    [class*="cursor-ew-resize"] {
      cursor:
        url("../../assets/cursors/cursor_ew-resize.svg") 16 2,
        ew-resize !important;
    }
    [class*="before:cursor-ew-resize"]::before,
    [class*="after:cursor-ew-resize"]::after {
      cursor:
        url("../../assets/cursors/cursor_ew-resize.svg") 16 2,
        ew-resize !important;
    }

    .cursor-crosshair {
      cursor:
        url("../../assets/cursors/cursor_crosshair.svg") 0 0,
        crosshair !important;
    }
    [style*="cursor: crosshair"],
    [style*="cursor:crosshair"] {
      cursor:
        url("../../assets/cursors/cursor_crosshair.svg") 0 0,
        crosshair !important;
    }
    .cursor-crosshair,
    [class*="cursor-crosshair"] {
      cursor:
        url("../../assets/cursors/cursor_crosshair.svg") 0 0,
        crosshair !important;
    }
    [class*="before:cursor-crosshair"]::before,
    [class*="after:cursor-crosshair"]::after {
      cursor:
        url("../../assets/cursors/cursor_crosshair.svg") 0 0,
        crosshair !important;
    }

    .cursor-ns-resize {
      cursor:
        url("../../assets/cursors/cursor_ns-resize_dark.svg") 2 16,
        ns-resize !important;
    }
    [style*="cursor: ns-resize"],
    [style*="cursor:ns-resize"] {
      cursor:
        url("../../assets/cursors/cursor_ns-resize_dark.svg") 2 16,
        ns-resize !important;
    }
    .cursor-ns-resize,
    [class*="cursor-ns-resize"] {
      cursor:
        url("../../assets/cursors/cursor_ns-resize_dark.svg") 2 16,
        ns-resize !important;
    }
    [class*="before:cursor-ns-resize"]::before,
    [class*="after:cursor-ns-resize"]::after {
      cursor:
        url("../../assets/cursors/cursor_ns-resize_dark.svg") 2 16,
        ns-resize !important;
    }

    .cursor-nesw-resize {
      cursor:
        url("../../assets/cursors/cursor_nesw-resize_dark.svg") 16 16,
        nesw-resize !important;
    }
    [style*="cursor: nesw-resize"],
    [style*="cursor:nesw-resize"] {
      cursor:
        url("../../assets/cursors/cursor_nesw-resize_dark.svg") 16 16,
        nesw-resize !important;
    }
    .cursor-nesw-resize,
    [class*="cursor-nesw-resize"] {
      cursor:
        url("../../assets/cursors/cursor_nesw-resize_dark.svg") 16 16,
        nesw-resize !important;
    }
    [class*="before:cursor-nesw-resize"]::before,
    [class*="after:cursor-nesw-resize"]::after {
      cursor:
        url("../../assets/cursors/cursor_nesw-resize_dark.svg") 16 16,
        nesw-resize !important;
    }

    .cursor-move {
      cursor:
        url("../../assets/cursors/cursor_move_dark.svg") 16 16,
        move !important;
    }
    [style*="cursor: move"],
    [style*="cursor:move"] {
      cursor:
        url("../../assets/cursors/cursor_move_dark.svg") 16 16,
        move !important;
    }
    .cursor-move,
    [class*="cursor-move"] {
      cursor:
        url("../../assets/cursors/cursor_move_dark.svg") 16 16,
        move !important;
    }
    [class*="before:cursor-move"]::before,
    [class*="after:cursor-move"]::after {
      cursor:
        url("../../assets/cursors/cursor_move_dark.svg") 16 16,
        move !important;
    }

    .react-flow__node {
      cursor:
        url("../../assets/cursors/cursor_pointer.svg") 0 0,
        pointer !important;
    }

    .react-flow__edge {
      cursor:
        url("../../assets/cursors/cursor_pointer.svg") 16 2,
        pointer !important;
    }

    .react-flow__handle {
    }

    .react-flow__pane.draggable {
      cursor:
        url("../../assets/cursors/cursor_grab.svg") 0 0,
        grab !important;
    }
    .react-flow__pane.dragging {
      cursor:
        url("../../assets/cursors/cursor_grabbing.svg") 0 0,
        grabbing !important;
    }
    .react-flow__handle.connectionindicator {
      cursor:
        url("../../assets/cursors/cursor_crosshair.svg") 16 16,
        crosshair !important;
    }

    .temp .react-flow__edge-path {
      stroke: #e98787;
      stroke-dasharray: 5 5;
    }

    .react-flow__handle.connectionindicator,
    .react-flow__handle.connectionindicator:hover {
      cursor:
        url("../../assets/cursors/cursor_crosshair.svg") 16 16,
        crosshair !important;
    }

    [data-slot="popover-trigger"] {
      cursor:
        url("../../assets/cursors/cursor_pointer.svg") 0 0,
        pointer !important;
    }

    [role="button"],
    [role="link"],
    a,
    button {
      cursor:
        url("../../assets/cursors/cursor_pointer.svg") 0 0,
        pointer !important;
    }

    [data-slot="breadcrumb-link"],
    [data-slot="breadcrumb-separator"][class*="cursor-pointer"] {
      cursor:
        url("../../assets/cursors/cursor_pointer.svg") 0 0,
        pointer !important;
    }

    /* * {
      cursor:
        url("../../assets/cursors/cursor_dark.svg") 0 0,
        default !important;
    }

    .cursor-pointer {
      cursor:
        url("../../assets/cursors/cursor_pointer_dark.svg") 0 0,
        pointer !important;
    }
    [style*="cursor: pointer"],
    [style*="cursor:pointer"] {
      cursor:
        url("../../assets/cursors/cursor_pointer_dark.svg") 0 0,
        pointer !important;
    }
    .cursor-pointer,
    [class*="cursor-pointer"] {
      cursor:
        url("../../assets/cursors/cursor_pointer_dark.svg") 0 0,
        pointer !important;
    }
    [class*="before:cursor-pointer"]::before,
    [class*="after:cursor-pointer"]::after {
      cursor:
        url("../../assets/cursors/cursor_pointer_dark.svg") 0 0,
        pointer !important;
    }

    .cursor-grab {
      cursor:
        url("../../assets/cursors/cursor_grab_dark.svg") 0 0,
        grab !important;
    }
    .cursor-grab {
      cursor:
        url("../../assets/cursors/cursor_grab_dark.svg") 0 0,
        grab !important;
    }
    [style*="cursor: grab"],
    [style*="cursor:grab"] {
      cursor:
        url("../../assets/cursors/cursor_grab_dark.svg") 0 0,
        grab !important;
    }
    .cursor-grab,
    [class*="cursor-grab"] {
      cursor:
        url("../../assets/cursors/cursor_grab_dark.svg") 0 0,
        grab !important;
    }
    [class*="before:cursor-grab"]::before,
    [class*="after:cursor-grab"]::after {
      cursor:
        url("../../assets/cursors/cursor_grab_dark.svg") 0 0,
        grab !important;
    }

    .cursor-grabbing {
      cursor:
        url("../../assets/cursors/cursor_grabbing_dark.svg") 0 0,
        grabbing !important;
    }
    [style*="cursor: grabbing"],
    [style*="cursor:grabbing"] {
      cursor:
        url("../../assets/cursors/cursor_grabbing_dark.svg") 0 0,
        grabbing !important;
    }
    .cursor-grabbing,
    [class*="cursor-grabbing"] {
      cursor:
        url("../../assets/cursors/cursor_grabbing_dark.svg") 0 0,
        grabbing !important;
    }
    [class*="before:cursor-grabbing"]::before,
    [class*="after:cursor-grabbing"]::after {
      cursor:
        url("../../assets/cursors/cursor_grabbing_dark.svg") 0 0,
        grabbing !important;
    }

    .cursor-ew-resize {
      cursor:
        url("../../assets/cursors/cursor_ew-resize_dark.svg") 0 0,
        ew-resize !important;
    }
    [style*="cursor: ew-resize"],
    [style*="cursor:ew-resize"] {
      cursor:
        url("../../assets/cursors/cursor_ew-resize_dark.svg") 16 2,
        ew-resize !important;
    }
    .cursor-ew-resize,
    [class*="cursor-ew-resize"] {
      cursor:
        url("../../assets/cursors/cursor_ew-resize_dark.svg") 16 2,
        ew-resize !important;
    }
    [class*="before:cursor-ew-resize"]::before,
    [class*="after:cursor-ew-resize"]::after {
      cursor:
        url("../../assets/cursors/cursor_ew-resize_dark.svg") 16 2,
        ew-resize !important;
    }

    .cursor-crosshair {
      cursor:
        url("../../assets/cursors/cursor_crosshair_dark.svg") 0 0,
        crosshair !important;
    }
    [style*="cursor: crosshair"],
    [style*="cursor:crosshair"] {
      cursor:
        url("../../assets/cursors/cursor_crosshair_dark.svg") 0 0,
        crosshair !important;
    }
    .cursor-crosshair,
    [class*="cursor-crosshair"] {
      cursor:
        url("../../assets/cursors/cursor_crosshair_dark.svg") 0 0,
        crosshair !important;
    }
    [class*="before:cursor-crosshair"]::before,
    [class*="after:cursor-crosshair"]::after {
      cursor:
        url("../../assets/cursors/cursor_crosshair_dark.svg") 0 0,
        crosshair !important;
    }

    .react-flow__node {
      cursor:
        url("../../assets/cursors/cursor_pointer_dark.svg") 0 0,
        pointer !important;
    }

    .react-flow__edge {
      cursor:
        url("../../assets/cursors/cursor_pointer_dark.svg") 16 2,
        pointer !important;
    }

    .react-flow__handle {
    }

    .react-flow__pane.draggable {
      cursor:
        url("../../assets/cursors/cursor_grab_dark.svg") 0 0,
        grab !important;
    }
    .react-flow__pane.dragging {
      cursor:
        url("../../assets/cursors/cursor_grabbing_dark.svg") 0 0,
        grabbing !important;
    }
    .react-flow__handle.connectionindicator {
      cursor:
        url("../../assets/cursors/cursor_crosshair_dark.svg") 16 16,
        crosshair !important;
    }

    .temp .react-flow__edge-path {
      stroke: #e98787;
      stroke-dasharray: 5 5;
    }

    .react-flow__handle.connectionindicator,
    .react-flow__handle.connectionindicator:hover {
      cursor:
        url("../../assets/cursors/cursor_crosshair_dark.svg") 16 16,
        crosshair !important;
    } */
  }
  /* #navbar {
    -webkit-app-region: window-drag;
  } */
}

.dark {
  --base: var(--color-dark);
  --panel: var(--color-dark-7-9);
  --temporary: var(--color-dark-5-7);
  --foreground: var(--color-light);
  --muted: var(--color-dark-8-9);
  --muted-foreground: var(--color-gray);
  --accent: var(--color-primary);
  --accent-foreground: var(--color-light);
  --hover-base: var(--color-gray-300);
  --hover-panel: var(--color-gray-400);
  --hover-temporary: var(--color-dark-dark-gray-2);

  /* * {
    cursor:
      url("../../assets/cursors/cursor_dark.svg") 0 0,
      default !important;
  }

  .cursor-pointer {
    cursor:
      url("../../assets/cursors/cursor_pointer_dark.svg") 0 0,
      pointer !important;
  }
  [style*="cursor: pointer"],
  [style*="cursor:pointer"] {
    cursor:
      url("../../assets/cursors/cursor_pointer_dark.svg") 0 0,
      pointer !important;
  }
  .cursor-pointer,
  [class*="cursor-pointer"] {
    cursor:
      url("../../assets/cursors/cursor_pointer_dark.svg") 0 0,
      pointer !important;
  }
  [class*="before:cursor-pointer"]::before,
  [class*="after:cursor-pointer"]::after {
    cursor:
      url("../../assets/cursors/cursor_pointer_dark.svg") 0 0,
      pointer !important;
  }

  .cursor-grab {
    cursor:
      url("../../assets/cursors/cursor_grab_dark.svg") 0 0,
      grab !important;
  }
  .cursor-grab {
    cursor:
      url("../../assets/cursors/cursor_grab_dark.svg") 0 0,
      grab !important;
  }
  [style*="cursor: grab"],
  [style*="cursor:grab"] {
    cursor:
      url("../../assets/cursors/cursor_grab_dark.svg") 0 0,
      grab !important;
  }
  .cursor-grab,
  [class*="cursor-grab"] {
    cursor:
      url("../../assets/cursors/cursor_grab_dark.svg") 0 0,
      grab !important;
  }
  [class*="before:cursor-grab"]::before,
  [class*="after:cursor-grab"]::after {
    cursor:
      url("../../assets/cursors/cursor_grab_dark.svg") 0 0,
      grab !important;
  }

  .cursor-grabbing {
    cursor:
      url("../../assets/cursors/cursor_grabbing_dark.svg") 0 0,
      grabbing !important;
  }
  [style*="cursor: grabbing"],
  [style*="cursor:grabbing"] {
    cursor:
      url("../../assets/cursors/cursor_grabbing_dark.svg") 0 0,
      grabbing !important;
  }
  .cursor-grabbing,
  [class*="cursor-grabbing"] {
    cursor:
      url("../../assets/cursors/cursor_grabbing_dark.svg") 0 0,
      grabbing !important;
  }
  [class*="before:cursor-grabbing"]::before,
  [class*="after:cursor-grabbing"]::after {
    cursor:
      url("../../assets/cursors/cursor_grabbing_dark.svg") 0 0,
      grabbing !important;
  }

  .cursor-ew-resize {
    cursor:
      url("../../assets/cursors/cursor_ew-resize_dark.svg") 0 0,
      ew-resize !important;
  }
  [style*="cursor: ew-resize"],
  [style*="cursor:ew-resize"] {
    cursor:
      url("../../assets/cursors/cursor_ew-resize_dark.svg") 16 2,
      ew-resize !important;
  }
  .cursor-ew-resize,
  [class*="cursor-ew-resize"] {
    cursor:
      url("../../assets/cursors/cursor_ew-resize_dark.svg") 16 2,
      ew-resize !important;
  }
  [class*="before:cursor-ew-resize"]::before,
  [class*="after:cursor-ew-resize"]::after {
    cursor:
      url("../../assets/cursors/cursor_ew-resize_dark.svg") 16 2,
      ew-resize !important;
  }

  .cursor-crosshair {
    cursor:
      url("../../assets/cursors/cursor_crosshair_dark.svg") 0 0,
      crosshair !important;
  }
  [style*="cursor: crosshair"],
  [style*="cursor:crosshair"] {
    cursor:
      url("../../assets/cursors/cursor_crosshair_dark.svg") 0 0,
      crosshair !important;
  }
  .cursor-crosshair,
  [class*="cursor-crosshair"] {
    cursor:
      url("../../assets/cursors/cursor_crosshair_dark.svg") 0 0,
      crosshair !important;
  }
  [class*="before:cursor-crosshair"]::before,
  [class*="after:cursor-crosshair"]::after {
    cursor:
      url("../../assets/cursors/cursor_crosshair_dark.svg") 0 0,
      crosshair !important;
  }

  .react-flow__node {
    cursor:
      url("../../assets/cursors/cursor_pointer_dark.svg") 0 0,
      pointer !important;
  }

  .react-flow__edge {
    cursor:
      url("../../assets/cursors/cursor_pointer_dark.svg") 16 2,
      pointer !important;
  }

  .react-flow__handle {
  }

  .react-flow__pane.draggable {
    cursor:
      url("../../assets/cursors/cursor_grab_dark.svg") 0 0,
      grab !important;
  }
  .react-flow__pane.dragging {
    cursor:
      url("../../assets/cursors/cursor_grabbing_dark.svg") 0 0,
      grabbing !important;
  }
  .react-flow__handle.connectionindicator {
    cursor:
      url("../../assets/cursors/cursor_crosshair_dark.svg") 16 16,
      crosshair !important;
  }

  .temp .react-flow__edge-path {
    stroke: #e98787;
    stroke-dasharray: 5 5;
  }

  .react-flow__handle.connectionindicator,
  .react-flow__handle.connectionindicator:hover {
    cursor:
      url("../../assets/cursors/cursor_crosshair_dark.svg") 16 16,
      crosshair !important;
  } */
}

.touch {
  --spacing: var(--spacing-touch);
  --text-xs: 0.75rem;
  --text-xs--line-height: calc(1 / 0.75);
  --text-sm: 0.875rem;
  --text-sm--line-height: calc(1.25 / 0.875);
  --text-base: 1rem;
  --text-base--line-height: calc(1.5 / 1);
  --text-lg: 1.125rem;
  --text-lg--line-height: calc(1.75 / 1.125);
  --text-xl: 1.25rem;
  --text-xl--line-height: calc(1.75 / 1.25);
  --text-2xl: 1.5rem;
  --text-2xl--line-height: calc(2 / 1.5);
  --text-3xl: 1.875rem;
  --text-3xl--line-height: calc(2.25 / 1.875);
  --text-4xl: 2.25rem;
  --text-4xl--line-height: calc(2.5 / 2.25);
  --text-5xl: 3rem;
  --text-5xl--line-height: 1;
  --text-6xl: 3.75rem;
  --text-6xl--line-height: 1;
  --text-7xl: 4.5rem;
  --text-7xl--line-height: 1;
  --text-8xl: 6rem;
  --text-8xl--line-height: 1;
  --text-9xl: 8rem;
  --text-9xl--line-height: 1;
}
/* https://reactflow.dev/learn/customization/theming */

/* .react-flow { */
/* --xy-background-color-default: var(--color-light) !important; */
/* } */

/* .react-flow.dark { */
/* --xy-background-color-default: var(--color-dark) !important; */
/* } */

@theme inline {
  --color-base: var(--base);
  --color-panel: var(--panel);
  --color-temporary: var(--temporary);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-hover-base: var(--hover-base);
  --color-hover-panel: var(--hover-panel);
  --color-hover-temporary: var(--hover-temporary);
  --color-active-base: var(--active-base);
  --color-active-foreground: var(--active-foreground);
  --color-popover: var(--temporary);
  --color-popover-foreground: var(--foreground);
  --color-border: var(--accent);
}

/* #navbar {
  -webkit-app-region: window-drag;
} */
