.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
tsconfig.json
eslint.config.mjs
*.map
*.ts
node_modules/**
package-lock.json
.nx/**
codegen.ts
vite.config.ts
vite.test.config.ts
codegen/
generated/
../**
activation.log
*.md
!LICENSE.md
*.json
!package.json