.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
node_modules/**
**/node_modules/**
package-lock.json
.nx/**
codegen.ts
vite.config.ts
vite.test.config.ts
codegen/
generated/
assets/**
graphql/**
go/**
py/**
sql/**
net/**
examples/**
reports/**
plans/**
tickets/**
*.md
!LICENSE.md
*.json
!package.json
!out/**
!assets/icons/**