---
import MobileMenuFooter from './MobileMenuFooter.astro';
import SidebarPersister from './SidebarPersister.astro';
import SidebarSublist from './SidebarSublist.astro';

const { sidebar } = Astro.locals.starlightRoute;
---

<SidebarPersister>
	<SidebarSublist sublist={sidebar} />
</SidebarPersister>

<div class="md:sl-hidden">
	<MobileMenuFooter />
</div>
